.backTransaction {
    display: flex;
    align-items: center;
    margin-top: 3rem !important;
    margin-bottom: 1rem;
}

.backTransaction h1{
    font-size: 29px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #000;
}

.seaportCSS{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    color: #000;
    border-left: 2px solid #000;
    padding: 0 0 0 10px;

}

.BrandGroup h2{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: #000;   
    margin: 0 0 2px 0px;

}

.BrandGroup{
    display: flex;
    gap: 12px;
    margin:0 0 25px 0;

}


.brandPrice h5{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    color: #008000;
    margin: 0 0 0 0;
  

}

.brandPrice h5 span{
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;
    color: #000;
  

}

.brandColorCombi{
    padding: 10px;
    border-radius: 3px;
    /* height: 50px; */
}


.brandLightBlue{
    background-color: #ECFBFF;
    
}

.brandLightBlue{
    background-color: #ECFBFF;
    
}

.brandLightGreen{
    background-color: #EAFFEE;
    
}

.brandLightPurple{
    background-color: #FFDCDC;
    
}

.brandLightBrown{
    background-color: #FFEAD7;
    
}

.brandLightSkyBlue{
    background-color: #F0F6FF;
    
}

.CircleDotGreenMain{
    border-left: 1px solid #E9E9E9;
    display: grid;
    align-items: center;
    padding: 0 0 0 12px;
}

.CircleDotGreen{
    margin: auto;
display: flex;
align-items: center;
justify-content: center;
 



}

.CircleDotGreen .DotGreen{
   margin: 0 auto 4px;
width: 18px;
height: 18px;
border-radius: 20px;
background-color: #20C820;
border: 5px solid #C9FFC9;
}

.CircleDotGreen h5{
font-size: 12px;
font-weight: 500;
color: #20C820;
font-family: "Montserrat";
}



.filterDotedDiv{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.filterTransaction {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 1);
    border-style: dotted;
    width: 40%;
    align-items: center;
    padding: 10px;
    cursor: pointer;

}

.inputMain {
    font-family: "Montserrat";
    width: 100%;
    margin-left: 10px;
    color: rgba(100, 100, 100, 1);
}

.searchInput {
    width: 100%;
    outline: none;
    font-size: 14px;
}



.productDeatils {
    border: 1px solid rgba(0, 0, 0, 1);
    margin-top: 20px;
    border-style: dotted;
    height: auto;
    width: 98%;
    padding: 10px;


}

.titleAndFilter {
margin-top: 1rem;
margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    height: auto;

}

.titleAndFilter h3 {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}

.filterDropDown {
    border-radius: 50px;
    background-color: rgba(239, 239, 239, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 10px;
    margin-right: 15px;
    display: flex;
    width: 110px;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 500;

}

.customDropdown {
    position: relative;
    display: inline-block;
}

.selectedOption {
    background-color: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdownOptions {
    position: absolute;
    /* top: -500%;
    left: 25%; */
    text-align: end;
    transform: translateX(-40%);
    background-color: #f9f9f9;
    min-width: 80px;
    border: 1px solid #ddd;
    padding: 5px 0;
    margin: 0;
    list-style-type: none;

}

.dropdownOptions li {
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Montserrat";
    text-transform: uppercase;
    letter-spacing: 1.5px;

}

.dropdownOptions li.active {
    background-color: black;
    color: white;
}

.FilterHead {
    font-weight: 600;
    color: rgba(56, 56, 56, 1);
    font-family: 'Montserrat';
}

/* //......Transaction Drop Down Start.. */
.Calendardate{
    /* width: 50%; */
}
.Calendardate input{
    width: 80%;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-left: 3px;
    outline: none;
}
.TransactionDiv{
    /* width: 50%; */
    display: flex;
    align-items: center;
    gap: 5px;

}
.TransactionDropDown{
    font-family: 'Montserrat';
}
.TransactionDropDown p{
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    margin-bottom:0px;
}
.dropdownOptions2{
    position: absolute;
    right: 0%;
    /* top: 0%; */
    text-align: end;
    transform: translateX(-12%);
    background-color: #f9f9f9;
    min-width: 100px;
    border: 1px solid #ddd;
    padding: 0%;
    font-family: "Montserrat";
    list-style-type: none;
    z-index: 1;
    letter-spacing: 1.3px;
}
.dropdownOptions2 li{
    font-family: "Montserrat";
    padding: 0px 5px;
    border-bottom: 1px solid rgba(209, 209, 209, 1);
}
.filterTransaction2 {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 1);
    border-style: dotted;
    /* width: 27%; */
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;

}
.dropdownOptions2 li{
    padding: 3px;
}
.dropdownOptions2 li:hover{
    background-color: #000000;
    color: white;
   

}

/* //......Transaction Drop Down End.. */




/* .......Filter Drop Down Start.... */

.filterDropDown {
    position: relative;
    display: flex;
padding: 5px;
    /* Ensures it behaves like a block-level element */
    &:hover {
        .dropdownOptions {
            display: block;
            /* Show the dropdown on hover */
        }
    }

    .customDropdown {
        position: relative;
        /* Ensure positioning context for the dropdown */
    }

    .dropdownOptions {

        position: absolute;
        text-align: end;
        transform: translateX(-40%);
        background-color: #fff;
        min-width: 80px;
        border: 1px solid #ccc;
      
        list-style-type: none;
        display: none;
        top: 100%;
        left: 0;


        z-index: 1;
        padding: 0;
        list-style-type: none;
        margin: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        /* Optional: add shadow */
        li {
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: #000000;
                color: white;
            }
        }
    }
}

/* ...Filter Drop Down End */


.productdata {
    border: 1px solid rgba(228, 228, 228, 1);
    border-bottom: 0.3px solid rgba(228, 228, 228, 1);

    height: auto;
    width: 98%;
    margin: auto;
    margin-top: -1px;
    display: flex;
}

.noDataFound {
    border: 1px solid rgba(228, 228, 228, 1);
    height: auto;
    width: 98%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}


.productDataDeatils {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%;
    /* background-color: red; */
}

.ProductImg {
    /* border: 1px solid rgba(164, 164, 164, 1);
    width : 20%; */
}

.DefaultProductImg {
    /* border: 1px solid rgba(164, 164, 164, 1);
    width : 5%; */
}

.productTitle {
    font-family: "Montserrat";

    margin-left: 10px;
    padding: 10px 0px 0px 0px;
}

.productTitle h3 {
    font-size: 22px;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;

}

.productTitle span {
    font-size: 16px;
}

.pricDeatils {
    /* background-color: rgb(0, 255, 149); */
    width: 30%;
    height: 75px;
    justify-content: end;
}

.pricDeatils {
    display: flex;
    text-align: right;
    text-transform: uppercase;

}

.priceAndDate {
    margin: auto 0;
    font-family: "Montserrat";
    line-height: 0.6;
}

.plusPrice {
    color:#000;
    font-size: 18px;
    font-weight: 700;
}

.minusPrice {
    font-size: 18px;
    font-weight: 700;
    color: rgb(7, 7, 7);
}

.priceAndDate small {
    color: rgba(131, 137, 160, 1);
    font-size: 14px;
}

.viewBtn {
    margin: 10px 15px;
    padding: 4px;
    font-family: "Montserrat";
}

.viewBtn button {
    background-color: black;
    color: white;
    padding: 4px 13px;
    font-size: 14px;
}

/* .....my new modal css start.. */
.PoDeatils {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.Ponumber {
    color: rgba(0, 0, 0, 1);
    font-family: "Arial";
    font-size: 20px;
}

.Ponumber span {
    color: rgba(0, 0, 0, 1);
    font-family: "Mixed";
    font-size: 22px;
    font-weight: bold;
}

.PoDate {
    font-size: 17px;
    font-family: "Montserrat";
    color: rgba(92, 92, 92, 1);
}

.PoDate span {
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 1);
    font-size: 17px;
    font-weight: 600;
}

.CaseDeatils {
    display: flex;
    justify-content: space-between;
}

.CaseTitle {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-family: "Montserrat";

}

.CaseTitle p {
    font-weight: 600;
    letter-spacing: 3px;
}

.CaseTitle span {
    font-size: 13px;
    letter-spacing: 3px;

}

.CaseNumDeatils {
    color: rgba(0, 0, 0, 1);
}

.CaseNumDeatils p {
    margin-bottom: 5px;
    font-size: 20px;
    font-family: "Arial";
    letter-spacing: normal;
}

.CaseNumDeatils span {
    font-family: "Mixed";
    font-size: 22px;
    font-weight: 600;
}

.inputRadio {
    border: 1px solid #80808038;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    background-color: rgb(255, 255, 255) !important;

}

.maincreditAmountDiv {
    border: 1px solid #80808038;
    border-radius: 10px;
    background-color: #d7e0df3d;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 15px;
    /* margin-bottom: 70px !important; */
}

.creditAmountDiv {
    border: 1px solid #80808038;
    padding: 10px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    background-color: rgb(255, 255, 255) !important;
}

.creditAmount {
    width: 50%;
    font-size: 14px;
    padding: 10px;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 1);

}

.creditAmount p {
    text-align: left;
    letter-spacing: 1.5px;
    margin: auto;
    font-weight: 600;
}

.creditAmountDetail ,.creditAmountDetailDebit{
    padding: 8px;
    text-align: end;
    width: 50%;
    line-height: 0.3;
    font-family: "Montserrat";
}

.creditAmountDetail p {
    margin-top: -5px;
    text-align: end;
    font-family: "Montserrat";
    color: rgba(88, 168, 18, 1);
    font-weight: 700;
    margin-bottom: 5px;
}

.creditAmountDetailDebit p {
    margin-top: -5px;
    text-align: end;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 5px;
}

.creditAmountDetail small {
    font-family: "Montserrat";
    font-size: 12px;
    color: rgba(138, 138, 138, 1);
    font-weight: 300;
    letter-spacing: 1.5px;

}

.creditAmountDetail2 {
    padding: 8px;
    text-align: end;
    width: 50%;
    line-height: 0.3;
    font-family: "Montserrat";
}

.creditAmountDetail2 p {
    color: rgba(138, 138, 138, 1);
    margin-top: -5px;
    text-align: end;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 5px;


}

.creditAmountDetail2 small {
    font-family: "Montserrat";
    font-size: 12px;
    color: rgba(138, 138, 138, 1);
    font-weight: 300;
    letter-spacing: 1.5px;
}

.mainbutton {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 4.5rem; */
    /* margin-top: 15px;
    margin-bottom: 2.5rem; */
    width: 80%;
    margin: 15px auto 2.5rem auto;
}

.CancleBtn {
    padding: 5px 30px !important;
    border: 1px solid rgba(0, 0, 0, 1);
    font-weight: 600;
    margin-right: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}



.AmountRed{
    color:#B82F04 !important ;
}

/* .....my new modal css End.. */

/* modal frist one start */


.ModalPart{
    width: 1000px;
    padding: 30px;
    
}

.ModalPart h4{
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 600;
    padding: 0 0 20px 0;
    margin: 0;
}

.RetailerMainName{
    padding: 25px;
    border: 1px solid #D5D9D9;
    border-radius: 8px;
    background-color: #F8FAFB;
    
}

.RetailerAllName{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
margin: 0 0 30px 0;
}

.Retailers{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #D5D9D9;
    background-color: #fff;
}


.Retailers label{
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 600;
    display: flex;
    gap: 15px;
    align-items: center;
}

.Retailers label input[type="radio"] {
    width: 25px;
    height: 25px;
    accent-color:#fff;
}

.Retailers label input[type=radio]:checked:after {
    width: 25px;
    height: 25px;
    border: 8px solid #000;
    transition: .5s;
    border-radius: 15px;
    background-color: #f3f4f4;
    content: "";
    display: inline-block;
    visibility: visible;
}

.RetailerRate h4{
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #008000;
    padding: 0 0 5px 0;
    margin: 0;
    text-align: end;
}

.RetailerRate p{
    padding: 0 0 0 0;
    margin: 0;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #000;
}
.ButtonSubmit{
    display: flex;
    gap: 20px;
    justify-content: end;
}

.ButtonSubmit a{
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #000;
    height: 42px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.SubmitButton{
    background-color: #000;
    color: #fff !important;
}
/* modal frist one start */