.backTransaction {
    display: flex;
    align-items: center;
    font-size: 29px;
    font-weight: 700;
    font-family: "Montserrat";
}

.filterTransaction {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 1);
    border-style: dotted;
    width: 30%;
    align-items: center;
    padding: 10px;

}

.inputMain {
    font-family: "Montserrat";
    width: 100%;
    margin-left: 5px;
    color: rgba(100, 100, 100, 1);
}

.searchInput {
    width: 100%;
    outline: none;
}

.productDeatils {
    border: 1px solid rgba(0, 0, 0, 1);
    margin-top: 20px;
    border-style: dotted;
    height: auto;
    width: 98%;
    padding: 10px;


}

.titleAndFilter {

    display: flex;
    justify-content: space-between;
    height: auto;

}

.titleAndFilter h3 {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    padding: 10px;
}

.filterDropDown {
    border-radius: 50px;
    background-color: rgba(239, 239, 239, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 10px;
    margin-right: 15px;
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 500;

}

.customDropdown {
    position: relative;
    display: inline-block;
}

.selectedOption {
    background-color: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdownOptions {
    position: absolute;
    top: -500%;
    left: 25%;
    text-align: end;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    min-width: 80px;
    border: 1px solid #ddd;
    padding: 5px 0;
    margin: 0;
    list-style-type: none;

}

.dropdownOptions li {
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Montserrat";
    text-transform: uppercase;
    letter-spacing: 1.5px;

}

.dropdownOptions li.active {
    background-color: black;
    color: white;
}

.FilterHead {
    color: rgba(56, 56, 56, 1);
}

.productdata {
    border: 1px solid rgba(228, 228, 228, 1);
    height: auto;
    width: 98%;
    margin: auto;
    margin-top: 15px;
    display: flex;
}

.productDataDeatils {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 60%;
    /* background-color: red; */
}

.ProductImg {
    border: 1px solid rgba(164, 164, 164, 1);

}

.productTitle {
    font-family: "Montserrat";
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1) !important;
    letter-spacing: 1.5px;
    margin-left: 10px;
    padding: 10px 0px 0px 0px;
}

.productTitle h3 {
    font-size: 22px;


}

.productTitle span {
    font-size: 16px;
}

.pricDeatils {
    /* background-color: rgb(0, 255, 149); */
    width: 40%;
    height: 75px;
    justify-content: end;
}

.pricDeatils {
    display: flex;
    text-align: right;
    text-transform: uppercase;

}

.priceAndDate {
    margin: auto 0;
    font-family: "Montserrat";
    line-height: 0.6;
}

.plusPrice{
    color: rgba(112, 210, 65, 1);
    font-size: 18px;
    font-weight: 700;
}
.minusPrice{
    font-size: 18px;
    font-weight: 700;
    color: rgb(7, 7, 7);
}

.priceAndDate small {
    color: rgba(131, 137, 160, 1);
    font-size: 14px;
}

.viewBtn {
    margin: 10px 15px;
    padding: 4px;
    font-family: "Montserrat";
}
.viewBtn button {
    background-color: black;
    color: white;
    padding: 6px 10px;
    font-size: 14px;
}
